@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-size: 100%;
  line-height: 1.5;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5em;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

@font-face {
  font-family: "DunbarTall";
  src: url("../fonts/DunbarTall-Medium.eot");
  src: local("DunbarTall Medium"), local("DunbarTall-Medium"), url("../fonts/DunbarTall-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Medium.woff2") format("woff2"), url("../fonts/DunbarTall-Medium.woff") format("woff"), url("../fonts/DunbarTall-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall Ultra";
  src: url("../fonts/DunbarTall-Ultra.eot");
  src: local("DunbarTall Ultra"), local("DunbarTall-Ultra"), url("../fonts/DunbarTall-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Ultra.woff2") format("woff2"), url("../fonts/DunbarTall-Ultra.woff") format("woff"), url("../fonts/DunbarTall-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall";
  src: url("../fonts/DunbarTall-Regular.eot");
  src: local("DunbarTall"), local("DunbarTall-Regular"), url("../fonts/DunbarTall-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Regular.woff2") format("woff2"), url("../fonts/DunbarTall-Regular.woff") format("woff"), url("../fonts/DunbarTall-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall ExBold";
  src: url("../fonts/DunbarTall-ExtraBold.eot");
  src: local("DunbarTall ExBold"), local("DunbarTall-ExtraBold"), url("../fonts/DunbarTall-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-ExtraBold.woff2") format("woff2"), url("../fonts/DunbarTall-ExtraBold.woff") format("woff"), url("../fonts/DunbarTall-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall";
  src: url("../fonts/DunbarTall-Light.eot");
  src: local("DunbarTall Light"), local("DunbarTall-Light"), url("../fonts/DunbarTall-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Light.woff2") format("woff2"), url("../fonts/DunbarTall-Light.woff") format("woff"), url("../fonts/DunbarTall-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall-Bold";
  src: url("../fonts/DunbarTall-Bold.eot");
  src: local("DunbarTall Bold"), local("DunbarTall-Bold"), url("../fonts/DunbarTall-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Bold.woff2") format("woff2"), url("../fonts/DunbarTall-Bold.woff") format("woff"), url("../fonts/DunbarTall-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.scene__1 {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.scene__1 h1,
.scene__1 h2 {
  line-height: 0.85;
}
.scene__1 h1 {
  font-size: 33vw;
  color: #f749d4;
}
.scene__1 h1 .letter-i {
  display: inline-block;
  position: relative;
}
.scene__1 h1 .letter-i .text {
  height: 24.5vw;
  width: 8vw;
  background-color: #f749d4;
}
.scene__1 h1 .letter-i .chevron {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: -100%;
}
.scene__1 h1 .letter-i .chevron div {
  background-image: url("../images/chevron-up.svg");
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.scene__1 h1 .letter-i .chevron div:nth-child(2), .scene__1 h1 .letter-i .chevron div:nth-child(3) {
  margin-top: -3rem;
}
.scene__1 h2 {
  font-size: 8vw;
  color: #f749d4;
}
.scene__2 {
  z-index: 2;
}
.scene__2 .description {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.scene__2 .description .text__1 {
  font-size: 34vw;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: center;
}
.scene__2 .description .text__2 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 0.9;
  padding-left: 18%;
  margin-bottom: 1rem;
}
.scene__2 .description .text__3 {
  font-size: 1rem;
  padding-left: 18.5%;
  padding-right: 50%;
  margin-bottom: 1rem;
}
.scene__2 .description .text__4 {
  font-size: 1rem;
  padding-left: 18.5%;
  padding-right: 50%;
}
.scene__2 .circles {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(7%);
}
.scene__2 .circles .circle {
  background-color: #f749d4;
  border-radius: 50%;
  height: 28vw;
  width: 28vw;
  position: absolute;
}
.scene__2 .circles .circle__1 {
  scale: 1;
}
.scene__2 .circles .circle__2 {
  scale: 1.2;
  opacity: 0.3;
}
.scene__2 .circles .circle__3 {
  scale: 1.5;
  opacity: 0.3;
}
.scene__2 .circles .circle__4 {
  scale: 1.8;
  opacity: 0.3;
}
.scene__2 .circles .circle__5 {
  scale: 2.2;
  opacity: 0.3;
}
.scene__2 .circles .circle__6 {
  scale: 2.6;
  opacity: 0.3;
}
.scene__3 {
  z-index: 1;
}
.scene__3 .circles {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(7%);
}
.scene__3 .circles .circle {
  background-color: #f749d4;
  border-radius: 50%;
  height: 28vw;
  width: 28vw;
  position: absolute;
}
.scene__3 .circles .circle__random {
  display: grid;
  place-items: center;
  font-size: 10rem;
  color: transparent;
}
.scene__3 .circles .circle__random:nth-child(1) {
  transform: translateX(-28vw);
  margin-right: 4vw;
}
.scene__3 .circles .circle__random:nth-child(2) {
  transform: translateX(-56vw);
  margin-right: 8vw;
  background-color: #11f3f3;
}
.scene__3 .circles .circle__random:nth-child(3) {
  transform: translateX(-28vw) translateY(-28vw);
  margin-right: 4vw;
  margin-bottom: 4vw;
}
.scene__3 .circles .circle__random:nth-child(4) {
  transform: translateX(-56vw) translateY(-28vw);
  margin-right: 8vw;
  margin-bottom: 4vw;
}
.scene__3 .circles .circle__random:nth-child(5) {
  transform: translateX(-28vw) translateY(28vw);
  margin-right: 4vw;
  margin-top: 4vw;
  background-color: #0000e0;
}
.scene__3 .circles .circle__random:nth-child(6) {
  transform: translateX(-56vw) translateY(28vw);
  margin-right: 8vw;
  margin-top: 4vw;
  background-color: #11f3f3;
}
.scene__3 .circles .circle__random:nth-child(7) {
  transform: translateX(28vw);
  margin-left: 4vw;
}
.scene__3 .circles .circle__random:nth-child(8) {
  transform: translateX(28vw) translateY(-28vw);
  margin-bottom: 4vw;
  margin-left: 4vw;
  background-color: #11f3f3;
}
.scene__3 .circles .circle__random:nth-child(9) {
  transform: translateX(28vw) translateY(28vw);
  margin-top: 4vw;
  margin-left: 4vw;
}
.scene__3 .circles .circle__random:nth-child(10) {
  transform: translateY(28vw);
  margin-top: 4vw;
}
.scene__3 .circles .circle__random:nth-child(11) {
  transform: translateY(-28vw);
  margin-bottom: 4vw;
  background-color: #0000e0;
}
.scene__3 .circles-vertical {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
.scene__3 .circles-vertical__inner {
  height: 100%;
  width: 3.5vw;
  transform: translateX(10vw) translateY(-1.75vw);
}
.scene__3 .circles-vertical__inner .circle__dot {
  background-color: #f749d4;
  border-radius: 50%;
  min-height: 3.5vw;
  min-width: 3.5vw;
  margin-bottom: 0.5rem;
}
.scene__3 .circles-vertical__inner .circle__replace {
  background-color: #f749d4;
  border-radius: 50%;
  min-height: 3.5vw;
  min-width: 3.5vw;
  margin-bottom: 0.5rem;
  background-color: red;
}
.scene__3 .test-box {
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: gold;
  width: 100px;
  height: 100px;
  z-index: 99;
}
.scene__3 .description {
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-top: 20%;
}
.scene__3 .description .text__1 {
  font-size: 6vw;
  line-height: 1;
  text-transform: uppercase;
}
.scene__3 .description .text__2 {
  font-size: 12vw;
  line-height: 0.8;
  text-transform: uppercase;
}
.scene__3 .description .text__3 {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 2rem;
  width: 40%;
}
.scene__intro {
  position: absolute;
}
.scene__intro--1 {
  top: 0%;
  right: 50vw;
  width: 12%;
  font-size: 1.4rem;
  text-align: right;
}
.scene__intro--2 {
  top: -20%;
  left: 65%;
  width: 15%;
  font-size: 1.4rem;
  text-align: left;
}
.scene__intro--3 {
  top: -45%;
  right: 50vw;
  font-size: 3rem;
  height: 40%;
  text-align: right;
  line-height: 0.8;
  font-weight: bold;
}
.scene__intro--vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

/*# sourceMappingURL=animation.css.map */
