@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-size: 100%;
  line-height: 1.5;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5em;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

@font-face {
  font-family: "DunbarTall";
  src: url("../fonts/DunbarTall-Medium.eot");
  src: local("DunbarTall Medium"), local("DunbarTall-Medium"), url("../fonts/DunbarTall-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Medium.woff2") format("woff2"), url("../fonts/DunbarTall-Medium.woff") format("woff"), url("../fonts/DunbarTall-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall Ultra";
  src: url("../fonts/DunbarTall-Ultra.eot");
  src: local("DunbarTall Ultra"), local("DunbarTall-Ultra"), url("../fonts/DunbarTall-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Ultra.woff2") format("woff2"), url("../fonts/DunbarTall-Ultra.woff") format("woff"), url("../fonts/DunbarTall-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall";
  src: url("../fonts/DunbarTall-Regular.eot");
  src: local("DunbarTall"), local("DunbarTall-Regular"), url("../fonts/DunbarTall-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Regular.woff2") format("woff2"), url("../fonts/DunbarTall-Regular.woff") format("woff"), url("../fonts/DunbarTall-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall ExBold";
  src: url("../fonts/DunbarTall-ExtraBold.eot");
  src: local("DunbarTall ExBold"), local("DunbarTall-ExtraBold"), url("../fonts/DunbarTall-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-ExtraBold.woff2") format("woff2"), url("../fonts/DunbarTall-ExtraBold.woff") format("woff"), url("../fonts/DunbarTall-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall";
  src: url("../fonts/DunbarTall-Light.eot");
  src: local("DunbarTall Light"), local("DunbarTall-Light"), url("../fonts/DunbarTall-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Light.woff2") format("woff2"), url("../fonts/DunbarTall-Light.woff") format("woff"), url("../fonts/DunbarTall-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DunbarTall-Bold";
  src: url("../fonts/DunbarTall-Bold.eot");
  src: local("DunbarTall Bold"), local("DunbarTall-Bold"), url("../fonts/DunbarTall-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DunbarTall-Bold.woff2") format("woff2"), url("../fonts/DunbarTall-Bold.woff") format("woff"), url("../fonts/DunbarTall-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media screen and (max-width: 728px) {
  .logo img {
    width: 110px;
    height: 60px;
  }
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.scene__1 {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.scene__1 h1,
.scene__1 h2 {
  line-height: 0.85;
}
.scene__1 h1 {
  font-size: 33vw;
  color: #f749d4;
}
.scene__1 h1 .letter-i {
  display: inline-block;
  position: relative;
}
.scene__1 h1 .letter-i .text {
  height: 24.5vw;
  width: 8vw;
  background-color: #f749d4;
}
.scene__1 h1 .letter-i .chevron {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: -100%;
}
.scene__1 h1 .letter-i .chevron div {
  background-image: url("../images/chevron-up.svg");
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.scene__1 h1 .letter-i .chevron div:nth-child(2), .scene__1 h1 .letter-i .chevron div:nth-child(3) {
  margin-top: -3rem;
}
.scene__1 h2 {
  font-size: 8vw;
  color: #f749d4;
}
.scene__2 {
  z-index: 2;
}
.scene__2 .description {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.scene__2 .description .text__1 {
  font-size: 34vw;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: center;
}
.scene__2 .description .text__2 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 0.9;
  padding-left: 18%;
  margin-bottom: 1rem;
}
.scene__2 .description .text__3 {
  font-size: 1rem;
  padding-left: 18.5%;
  padding-right: 50%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .scene__2 .description .text__3 {
    padding: 0;
    margin-left: 2rem;
    width: 80%;
  }
}
@media screen and (max-width: 728px) {
  .scene__2 .description .text__3 {
    padding: 0;
    margin-left: 2rem;
    width: 80%;
  }
}
.scene__2 .description .text__4 {
  font-size: 1rem;
  padding-left: 18.5%;
  padding-right: 50%;
}
@media screen and (max-width: 1024px) {
  .scene__2 .description .text__4 {
    padding: 0;
    margin-left: 2rem;
    width: 80%;
  }
}
@media screen and (max-width: 728px) {
  .scene__2 .description .text__4 {
    padding: 0;
    margin-left: 2rem;
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .scene__2 .description {
    top: 10%;
  }
}
@media screen and (max-width: 728px) {
  .scene__2 .description {
    top: 20%;
  }
}
.scene__2 .circles {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(7%);
}
.scene__2 .circles .circle {
  background-color: #f749d4;
  border-radius: 50%;
  height: 28vw;
  width: 28vw;
  position: absolute;
}
.scene__2 .circles .circle__1 {
  scale: 1;
}
.scene__2 .circles .circle__2 {
  scale: 1.4;
  opacity: 0.3;
}
.scene__2 .circles .circle__3 {
  scale: 1.8;
  opacity: 0.3;
}
.scene__2 .circles .circle__4 {
  scale: 2.2;
  opacity: 0.3;
}
.scene__2 .circles .circle__5 {
  scale: 2.6;
  opacity: 0.3;
}
.scene__2 .circles .circle__6 {
  scale: 3;
  opacity: 0.3;
}
@media screen and (max-width: 728px) {
  .scene__2 .circles .circle {
    height: 38vw;
    width: 38vw;
  }
}
.scene__3 {
  z-index: 1;
}
.scene__3 .circles {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(7%);
}
.scene__3 .circles .circle {
  background-color: #f749d4;
  border-radius: 50%;
  height: 28vw;
  width: 28vw;
  position: absolute;
}
.scene__3 .circles .circle__random {
  display: grid;
  place-items: center;
  font-size: 10rem;
  color: transparent;
}
.scene__3 .circles .circle__random:nth-child(1) {
  transform: translateX(-28vw);
  margin-right: 4vw;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(1) {
    transform: translateX(-38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(2) {
  transform: translateX(-56vw);
  margin-right: 8vw;
  background-color: #11f3f3;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(2) {
    transform: translateX(-76vw);
  }
}
.scene__3 .circles .circle__random:nth-child(3) {
  transform: translateX(-28vw) translateY(-28vw);
  margin-right: 4vw;
  margin-bottom: 4vw;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(3) {
    transform: translateX(-38vw) translateY(-38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(4) {
  transform: translateX(-56vw) translateY(-28vw);
  margin-right: 8vw;
  margin-bottom: 4vw;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(4) {
    opacity: 0;
    visibility: hidden;
  }
}
.scene__3 .circles .circle__random:nth-child(5) {
  transform: translateX(-28vw) translateY(28vw);
  margin-right: 4vw;
  margin-top: 4vw;
  background-color: #0000e0;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(5) {
    transform: translateX(-38vw) translateY(38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(6) {
  transform: translateX(-56vw) translateY(28vw);
  margin-right: 8vw;
  margin-top: 4vw;
  background-color: #11f3f3;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(6) {
    opacity: 0;
    visibility: hidden;
  }
}
.scene__3 .circles .circle__random:nth-child(7) {
  transform: translateX(28vw);
  margin-left: 4vw;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(7) {
    transform: translateX(38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(8) {
  transform: translateX(28vw) translateY(-28vw);
  margin-bottom: 4vw;
  margin-left: 4vw;
  background-color: #11f3f3;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(8) {
    transform: translateX(38vw) translateY(-38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(9) {
  transform: translateX(28vw) translateY(28vw);
  margin-top: 4vw;
  margin-left: 4vw;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(9) {
    transform: translateX(38vw) translateY(38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(10) {
  transform: translateY(28vw);
  margin-top: 4vw;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(10) {
    transform: translateY(38vw);
  }
}
.scene__3 .circles .circle__random:nth-child(11) {
  transform: translateY(-28vw);
  margin-bottom: 4vw;
  background-color: #0000e0;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle__random:nth-child(11) {
    transform: translateY(-38vw);
  }
}
@media screen and (max-width: 728px) {
  .scene__3 .circles .circle {
    height: 38vw;
    width: 38vw;
  }
}
.scene__3 .circles-vertical {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
.scene__3 .circles-vertical__inner {
  height: 100%;
  width: 3.5vw;
  transform: translateY(-1.75vw);
}
.scene__3 .circles-vertical__inner .circle__dot {
  background-color: #f749d4;
  border-radius: 50%;
  min-height: 3.5vw;
  min-width: 3.5vw;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__dot {
    min-height: 8vw;
    min-width: 8vw;
  }
}
.scene__3 .circles-vertical__inner .circle__mobile {
  display: none;
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__mobile {
    display: block;
  }
}
.scene__3 .circles-vertical__inner .circle__spacer {
  height: calc(24.5vw + 3.5rem);
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__spacer {
    height: calc(56vw + 3.5rem);
  }
}
.scene__3 .circles-vertical__inner .circle__replace {
  background-color: #f749d4;
  border-radius: 50%;
  min-height: 3.5vw;
  min-width: 3.5vw;
  margin-bottom: 0.5rem;
  position: absolute;
}
.scene__3 .circles-vertical__inner .circle__replace--2 {
  transform: translateY(calc(3.5vw + 0.5rem));
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace--2 {
    transform: translateY(calc(8vw + 0.5rem));
  }
}
.scene__3 .circles-vertical__inner .circle__replace--3 {
  transform: translateY(calc(7vw + 1rem));
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace--3 {
    transform: translateY(calc(16vw + 1rem));
  }
}
.scene__3 .circles-vertical__inner .circle__replace--4 {
  transform: translateY(calc(10.5vw + 1.5rem));
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace--4 {
    transform: translateY(calc(24vw + 1.5rem));
  }
}
.scene__3 .circles-vertical__inner .circle__replace--5 {
  transform: translateY(calc(14vw + 2rem));
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace--5 {
    transform: translateY(calc(32vw + 2rem));
  }
}
.scene__3 .circles-vertical__inner .circle__replace--6 {
  transform: translateY(calc(17.5vw + 2.5rem));
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace--6 {
    transform: translateY(calc(40vw + 2.5rem));
  }
}
.scene__3 .circles-vertical__inner .circle__replace--7 {
  transform: translateY(calc(21vw + 3rem));
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace--7 {
    transform: translateY(calc(48vw + 3rem));
  }
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner .circle__replace {
    min-height: 8vw;
    min-width: 8vw;
  }
}
@media screen and (max-width: 728px) {
  .scene__3 .circles-vertical__inner {
    transform: translateY(-5vw);
  }
}
.scene__3 .description {
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-top: 20%;
}
.scene__3 .description .text__1 {
  font-size: 6vw;
  line-height: 1;
  text-transform: uppercase;
}
.scene__3 .description .text__2 {
  font-size: 12vw;
  line-height: 0.8;
  text-transform: uppercase;
}
.scene__3 .description .text__3 {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 2rem;
  width: 40%;
}
@media screen and (max-width: 728px) {
  .scene__3 .description .text__3 {
    font-size: 1rem;
    width: 80%;
  }
}
@media screen and (max-width: 728px) {
  .scene__3 .description {
    padding-top: 100%;
  }
}
.scene__4 .gear {
  background-image: url("../images/gear.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
.scene__4 .gear__1 {
  height: 100vw;
  width: 100vw;
  transform: translateX(-40vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__1 {
    height: 900px;
    width: 900px;
    transform: translateX(-100vw) translateY(500px);
  }
}
.scene__4 .gear__2 {
  height: 80vw;
  width: 80vw;
  transform: translateX(60vw) translateY(-40vw);
  z-index: 9;
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__2 {
    height: 700px;
    width: 700px;
    transform: translateX(-10vw) translateY(-200px);
  }
}
.scene__4 .gear__3 {
  height: 70vw;
  width: 70vw;
  transform: translateX(60vw) translateY(-10vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__3 {
    height: 600px;
    width: 600px;
    transform: translateX(10vw) translateY(-10vw);
  }
}
.scene__4 .gear__4 {
  height: 40vw;
  width: 40vw;
  transform: translateX(55vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__4 {
    height: 300px;
    width: 300px;
    transform: translateX(-20vw);
  }
}
.scene__4 .gear__5 {
  height: 80vw;
  width: 80vw;
  transform: translateX(-100vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__5 {
    height: 600px;
    width: 600px;
  }
}
.scene__4 .gear__6 {
  height: 110vw;
  width: 110vw;
  transform: translateX(-75vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__6 {
    height: 600px;
    width: 600px;
  }
}
.scene__4 .gear__7 {
  height: 65vw;
  width: 65vw;
  transform: translateX(50vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__7 {
    height: 600px;
    width: 600px;
  }
}
.scene__4 .gear__8 {
  height: 110vw;
  width: 110vw;
  transform: translateX(30vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__8 {
    height: 600px;
    width: 600px;
  }
}
.scene__4 .gear__9 {
  height: 65vw;
  width: 65vw;
  transform: translateX(-7vw);
}
@media screen and (max-width: 728px) {
  .scene__4 .gear__9 {
    height: 600px;
    width: 600px;
  }
}
.scene__4 .closing {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
}
.scene__4 .closing .gear {
  height: 200vw;
  width: 200vw;
  background-image: url("../images/gear.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -95vw;
  left: -45vw;
}
@media screen and (max-width: 728px) {
  .scene__4 .closing .gear {
    height: 1400px;
    width: 1400px;
    left: -95vw;
  }
}
.scene__4 .closing .description {
  position: absolute;
  bottom: 20%;
  left: 2%;
}
.scene__4 .closing .description .text__1 {
  width: 100%;
  font-size: 17vw;
  text-transform: uppercase;
  line-height: 0.5;
}
.scene__4 .closing .description .text__2 {
  font-size: 9vw;
  text-transform: uppercase;
  padding-left: 40%;
}
.scene__4 .closing .description .text__3 {
  text-transform: uppercase;
  padding-right: 27vw;
  padding-left: 40vw;
  padding-right: 30vw;
}
@media screen and (max-width: 728px) {
  .scene__4 .closing .description .text__3 {
    bottom: 20%;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media screen and (max-width: 728px) {
  .scene__4 .closing .description {
    bottom: 40%;
  }
}
.scene__5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.scene__intro {
  position: absolute;
}
.scene__intro--1 {
  bottom: 70%;
  right: 50vw;
  width: 12vw;
  font-size: 1.4rem;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .scene__intro--1 {
    width: 22%;
    bottom: 60%;
  }
}
@media screen and (max-width: 728px) {
  .scene__intro--1 {
    font-size: 1rem;
    width: 25%;
    bottom: 60%;
    right: 55vw;
  }
}
.scene__intro--2 {
  bottom: 95%;
  left: 65vw;
  width: 14vw;
  font-size: 1.4rem;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .scene__intro--2 {
    width: 25%;
    bottom: 90%;
  }
}
@media screen and (max-width: 728px) {
  .scene__intro--2 {
    font-size: 1rem;
    width: 35%;
    bottom: 90%;
    right: unset;
    left: 11vw;
    text-align: right;
  }
}
.scene__intro--3 {
  bottom: 105%;
  right: 50vw;
  font-size: 3rem;
  height: 40%;
  text-align: right;
  line-height: 0.8;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .scene__intro--3 {
    bottom: 100%;
    height: 30%;
  }
}
@media screen and (max-width: 728px) {
  .scene__intro--3 {
    font-size: 2rem;
    bottom: 110%;
    right: 55vw;
  }
}
.scene__intro--vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

/*# sourceMappingURL=animation.css.map */
