@import 'variables';
@import 'reset';
@import 'fonts';

body {
  overflow-x: hidden;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &__1 {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;

    h1,
    h2 {
      line-height: 0.85;
    }

    h1 {
      font-size: 33vw;
      color: $color-pink;

      .letter-i {
        display: inline-block;
        position: relative;

        .text {
          height: 24.5vw;
          width: 8vw;
          background-color: $color-pink;
        }

        .chevron {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 3;
          top: -100%;

          div {
            background-image: url('../images/chevron-up.svg');
            width: 100%;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &:nth-child(2),
            &:nth-child(3) {
              margin-top: -3rem;
            }
          }
        }
      }
    }

    h2 {
      font-size: 8vw;
      color: $color-pink;
    }
  }

  &__2 {
    z-index: 2;

    .description {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;

      .text {
        &__1 {
          font-size: 34vw;
          text-transform: uppercase;
          line-height: 0.9;
          text-align: center;
        }
        &__2 {
          font-size: 7vw;
          text-transform: uppercase;
          line-height: 0.9;
          padding-left: 18%;
          margin-bottom: 1rem;
        }

        &__3 {
          font-size: 1rem;
          padding-left: 18.5%;
          padding-right: 50%;
          margin-bottom: 1rem;
        }

        &__4 {
          font-size: 1rem;
          padding-left: 18.5%;
          padding-right: 50%;
        }
      }
    }

    .circles {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(7%);

      .circle {
        background-color: $color-pink;
        border-radius: 50%;
        height: 28vw;
        width: 28vw;
        position: absolute;

        &__1 {
          scale: 1;
        }

        &__2 {
          scale: 1.2;
          opacity: 0.3;
        }

        &__3 {
          scale: 1.5;
          opacity: 0.3;
        }

        &__4 {
          scale: 1.8;
          opacity: 0.3;
        }

        &__5 {
          scale: 2.2;
          opacity: 0.3;
        }

        &__6 {
          scale: 2.6;
          opacity: 0.3;
        }
      }
    }
  }

  &__3 {
    z-index: 1;

    .circles {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(7%);

      .circle {
        background-color: $color-pink;
        border-radius: 50%;
        height: 28vw;
        width: 28vw;
        position: absolute;

        &__random {
          display: grid;
          place-items: center;
          font-size: 10rem;
          color: transparent;
          
          &:nth-child(1) {
            transform: translateX(-28vw);
            margin-right: 4vw;
          }

          &:nth-child(2) {
            transform: translateX(-56vw);
            margin-right: 8vw;
            background-color: $color-cyan;
          }

          &:nth-child(3) {
            transform: translateX(-28vw) translateY(-28vw);
            margin-right: 4vw;
            margin-bottom: 4vw;
          }

          &:nth-child(4) {
            transform: translateX(-56vw) translateY(-28vw);
            margin-right: 8vw;
            margin-bottom: 4vw;
          }

          &:nth-child(5) {
            transform: translateX(-28vw) translateY(28vw);
            margin-right: 4vw;
            margin-top: 4vw;
            background-color: $color-blue;
          }

          &:nth-child(6) {
            transform: translateX(-56vw) translateY(28vw);
            margin-right: 8vw;
            margin-top: 4vw;
            background-color: $color-cyan;
          }

          &:nth-child(7) {
            transform: translateX(28vw);
            margin-left: 4vw;
          }

          &:nth-child(8) {
            transform: translateX(28vw) translateY(-28vw);
            margin-bottom: 4vw;
            margin-left: 4vw;
            background-color: $color-cyan;
          }

          &:nth-child(9) {
            transform: translateX(28vw) translateY(28vw);
            margin-top: 4vw;
            margin-left: 4vw;
          }

          &:nth-child(10) {
            transform: translateY(28vw);
            margin-top: 4vw;
          }

          &:nth-child(11) {
            transform: translateY(-28vw);
            margin-bottom: 4vw;
            background-color: $color-blue;
          }
        }
      }
    }
    .circles-vertical {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;

      &__inner {
        height: 100%;
        width: 3.5vw; 
        transform: translateX(10vw) translateY(-1.75vw);

        .circle {
          &__dot {
            background-color: $color-pink;
            border-radius: 50%;
            min-height: 3.5vw;
            min-width: 3.5vw;
            margin-bottom: 0.5rem;
          }

          &__replace {
            background-color: $color-pink;
            border-radius: 50%;
            min-height: 3.5vw;
            min-width: 3.5vw;
            margin-bottom: 0.5rem;
            background-color: red;
          }
        }
      }
    }

    .test-box {
      position: absolute;
      right: 0%;
      top: 0%;
      background-color: gold;
      width: 100px;
      height: 100px;
      z-index: 99;
    }

    .description {
      height: 100%;
      width: 100%;
      padding-left: 20%;
      padding-top: 20%;

      .text {
        &__1 {
          font-size: 6vw;
          line-height: 1;
          text-transform: uppercase;
        }

        &__2 {
          font-size: 12vw;
          line-height: 0.8;
          text-transform: uppercase;
        }

        &__3 {
          font-size: 1.4rem;
          line-height: 1;
          margin-top: 2rem;
          width: 40%;
        }
      }
    }
  }

  &__intro {
    position: absolute;

    &--1 {
      top: 0%;
      right: 50vw;
      width: 12%;
      font-size: 1.4rem;
      text-align: right;
    }

    &--2 {
      top: -20%;
      left: 65%;
      width: 15%;
      font-size: 1.4rem;
      text-align: left;
    }

    &--3 {
      top: -45%;
      right: 50vw;
      font-size: 3rem;
      height: 40%;
      text-align: right;
      line-height: 0.8;
      font-weight: bold;
    }

    &--vertical {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }
}
