@import 'variables';
@import 'reset';
@import 'fonts';

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: background 400ms ease-in-out;
}

#intro-title {
  transition: color 400ms ease-in-out;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  @media screen and (max-width: 768px) {
    img {
      width: 110px;
      height: 60px;
    }
  }
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  &__1 {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;

    h1,
    h2 {
      line-height: 0.85;
    }

    h1 {
      font-size: 33vw;
      color: $color-pink;

      .letter-i {
        display: inline-block;
        position: relative;

        .text {
          height: 24.5vw;
          width: 8vw;
          background-color: $color-pink;
          transition: background 400ms ease-in-out;
        }

        .chevron {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 3;
          top: -180%;

          div {
            background-image: url('../images/chevron-up.svg');
            width: 100%;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &:nth-child(2),
            &:nth-child(3) {
              margin-top: -3rem;
            }
          }

          @media screen and (min-width: 1500px) {
            top: -140%;
          }
        }
      }
    }

    h2 {
      font-size: 8vw;
      color: $color-pink;
    }
  }

  &__2 {
    z-index: 2;

    .description {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 3;
      display: flex;
      flex-direction: column;

      .text {
        &__1 {
          font-size: 34vw;
          text-transform: uppercase;
          line-height: 0.9;
          text-align: center;
        }

        &__2 {
          font-size: 7vw;
          text-transform: uppercase;
          line-height: 0.9;
          padding-left: 18%;
          margin-bottom: 1rem;
        }

        &__3 {
          font-size: 1rem;
          padding-left: 18.5%;
          padding-right: 50%;
          margin-bottom: 1rem;

          @media screen and (max-width: 1024px) {
          }

          @media screen and (max-width: 768px) {
            padding: 0;
            margin-left: 2rem;
            width: 80%;
          }
        }

        &__4 {
          font-size: 1rem;
          padding-left: 18.5%;
          padding-right: 50%;

          @media screen and (max-width: 1024px) {
          }

          @media screen and (max-width: 768px) {
            padding: 0;
            margin-left: 2rem;
            width: 80%;
          }
        }
      }

      @media screen and (max-width: 1024px) {
        top: 10%;
      }

      @media screen and (max-width: 768px) {
        top: 20%;
      }
    }

    .circles {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(7%);

      .circle {
        background-color: $color-pink;
        border-radius: 50%;
        height: 28vw;
        width: 28vw;
        position: absolute;

        &__1 {
          scale: 1;
        }

        &__2 {
          scale: 1.4;
          opacity: 0.3;
        }

        &__3 {
          scale: 1.8;
          opacity: 0.3;
        }

        &__4 {
          scale: 2.2;
          opacity: 0.3;
        }

        &__5 {
          scale: 2.6;
          opacity: 0.3;
        }

        &__6 {
          scale: 3;
          opacity: 0.3;
        }

        @media screen and (max-width: 1024px) {
        }

        @media screen and (max-width: 768px) {
          height: 38vw;
          width: 38vw;
        }
      }
    }
  }

  &__3 {
    z-index: 1;

    .circles {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(7%);

      .circle {
        background-color: $color-pink;
        border-radius: 50%;
        height: 28vw;
        width: 28vw;
        position: absolute;

        &__random {
          display: grid;
          place-items: center;
          font-size: 10rem;
          color: transparent;

          &:nth-child(1) {
            transform: translateX(-28vw);
            margin-right: 4vw;

            @media screen and (max-width: 1024px) {
              transform: translateX(-38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(-38vw);
            }
          }

          &:nth-child(2) {
            transform: translateX(-56vw);
            margin-right: 8vw;
            background-color: $color-cyan;

            @media screen and (max-width: 1024px) {
              transform: translateX(-76vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(-76vw);
            }
          }

          &:nth-child(3) {
            transform: translateX(-28vw) translateY(-28vw);
            margin-right: 4vw;
            margin-bottom: 4vw;

            @media screen and (max-width: 1024px) {
              transform: translateX(-38vw) translateY(-38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(-38vw) translateY(-38vw);
            }
          }

          &:nth-child(4) {
            transform: translateX(-56vw) translateY(-28vw);
            margin-right: 8vw;
            margin-bottom: 4vw;

            @media screen and (max-width: 1024px) {
              opacity: 0;
              visibility: hidden;
            }

            @media screen and (max-width: 768px) {
              opacity: 0;
              visibility: hidden;
            }
          }

          &:nth-child(5) {
            transform: translateX(-28vw) translateY(28vw);
            margin-right: 4vw;
            margin-top: 4vw;
            background-color: $color-blue;

            @media screen and (max-width: 1024px) {
              transform: translateX(-38vw) translateY(38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(-38vw) translateY(38vw);
            }
          }

          &:nth-child(6) {
            transform: translateX(-56vw) translateY(28vw);
            margin-right: 8vw;
            margin-top: 4vw;
            background-color: $color-cyan;

            @media screen and (max-width: 1024px) {
              opacity: 0;
              visibility: hidden;
            }

            @media screen and (max-width: 768px) {
              opacity: 0;
              visibility: hidden;
            }
          }

          &:nth-child(7) {
            transform: translateX(28vw);
            margin-left: 4vw;

            @media screen and (max-width: 1024px) {
              transform: translateX(38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(38vw);
            }
          }

          &:nth-child(8) {
            transform: translateX(28vw) translateY(-28vw);
            margin-bottom: 4vw;
            margin-left: 4vw;
            background-color: $color-cyan;

            @media screen and (max-width: 1024px) {
              transform: translateX(38vw) translateY(-38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(38vw) translateY(-38vw);
            }
          }

          &:nth-child(9) {
            transform: translateX(28vw) translateY(28vw);
            margin-top: 4vw;
            margin-left: 4vw;

            @media screen and (max-width: 1024px) {
              transform: translateX(38vw) translateY(38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateX(38vw) translateY(38vw);
            }
          }

          &:nth-child(10) {
            transform: translateY(28vw);
            margin-top: 4vw;

            @media screen and (max-width: 1024px) {
              transform: translateY(38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateY(38vw);
            }
          }

          &:nth-child(11) {
            transform: translateY(-28vw);
            margin-bottom: 4vw;
            background-color: $color-blue;

            @media screen and (max-width: 1024px) {
              transform: translateY(-38vw);
            }

            @media screen and (max-width: 768px) {
              transform: translateY(-38vw);
            }
          }
        }

        @media screen and (max-width: 1024px) {
          height: 38vw;
          width: 38vw;
        }

        @media screen and (max-width: 768px) {
          height: 38vw;
          width: 38vw;
        }
      }
    }
    .circles-vertical {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;

      &__inner {
        height: 100%;
        width: 3.5vw;
        transform: translateY(calc(-5.5% - 3.5vw));

        .circle {
          &__dot {
            background-color: $color-pink;
            border-radius: 50%;
            min-height: 3.5vw;
            min-width: 3.5vw;
            margin-bottom: 0.5rem;

            @media screen and (max-width: 1024px) {
              min-height: 8vw;
              min-width: 8vw;
            }

            @media screen and (max-width: 768px) {
              min-height: 8vw;
              min-width: 8vw;
            }
          }

          &__mobile {
            display: none;

            @media screen and (max-width: 1024px) {
              display: block;
            }
          }

          &__spacer {
            // dot width x 7
            height: calc(24.5vw + 3.5rem);

            @media screen and (max-width: 1024px) {
              height: calc(48vw + 3.5rem);
            }

            @media screen and (max-width: 768px) {
              height: calc(56vw + 3.5rem);
            }
          }

          &__replace {
            background-color: $color-pink;
            border-radius: 50%;
            min-height: 3.5vw;
            min-width: 3.5vw;
            margin-bottom: 0.5rem;
            position: absolute;

            &--2 {
              transform: translateY(calc(3.5vw + 0.5rem));

              @media screen and (max-width: 1024px) {
                transform: translateY(calc(8vw + 0.5rem));
              }

              @media screen and (max-width: 768px) {
                transform: translateY(calc(8vw + 0.5rem));
              }
            }

            &--3 {
              transform: translateY(calc(7vw + 1rem));

              @media screen and (max-width: 1024px) {
                transform: translateY(calc(16vw + 1rem));
              }

              @media screen and (max-width: 768px) {
                transform: translateY(calc(16vw + 1rem));
              }
            }

            &--4 {
              transform: translateY(calc(10.5vw + 1.5rem));

              @media screen and (max-width: 1024px) {
                transform: translateY(calc(24vw + 1.5rem));
              }

              @media screen and (max-width: 768px) {
                transform: translateY(calc(24vw + 1.5rem));
              }
            }

            &--5 {
              transform: translateY(calc(14vw + 2rem));

              @media screen and (max-width: 1024px) {
                transform: translateY(calc(32vw + 2rem));
              }

              @media screen and (max-width: 768px) {
                transform: translateY(calc(32vw + 2rem));
              }
            }

            &--6 {
              transform: translateY(calc(17.5vw + 2.5rem));

              @media screen and (max-width: 1024px) {
                transform: translateY(calc(40vw + 2.5rem));
              }

              @media screen and (max-width: 768px) {
                transform: translateY(calc(40vw + 2.5rem));
              }
            }

            &--7 {
              transform: translateY(calc(21vw + 3rem));

              @media screen and (max-width: 1024px) {
                transform: translateY(calc(40vw + 2.5rem));
              }

              @media screen and (max-width: 768px) {
                transform: translateY(calc(48vw + 3rem));
              }
            }

            @media screen and (max-width: 1024px) {
              min-height: 8vw;
              min-width: 8vw;
            }

            @media screen and (max-width: 768px) {
              min-height: 8vw;
              min-width: 8vw;
            }
          }
        }

        // @media screen and (max-width: 1024px) {
        //   transform: translateY(calc(8vw - 5%));
        // }

        @media screen and (max-width: 768px) {
          transform: translateY(calc(8vw - 6%));
        }

        // small device (iphone SE)
        @media screen and (max-width: 376px) {
          transform: translateY(-26vw);
        }
      }
    }

    .description {
      height: 100%;
      width: 100%;
      padding-left: 20%;
      padding-top: 20%;

      .text {
        &__1 {
          font-size: 6vw;
          line-height: 1;
          text-transform: uppercase;
        }

        &__2 {
          font-size: 12vw;
          line-height: 0.8;
          text-transform: uppercase;
        }

        &__3 {
          font-size: 1.4rem;
          line-height: 1;
          margin-top: 2rem;
          width: 40%;

          @media screen and (max-width: 1024px) {
            font-size: 1rem;
            width: 80%;
          }

          @media screen and (max-width: 768px) {
            font-size: 1rem;
            width: 80%;
          }
        }
      }

      @media screen and (max-width: 1024px) {
        padding-top: 80%;
      }

      @media screen and (max-width: 768px) {
        padding-top: 100%;
      }
    }
  }

  &__4 {
    .gear {
      background-image: url('../images/gear.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;

      &__1 {
        height: 100vw;
        width: 100vw;
        transform: translateX(-40vw);

        @media screen and (max-width: 1024px) {
          height: 1500px;
          width: 1500px;
          transform: translateX(-100vw) translateY(500px);
        }

        @media screen and (max-width: 768px) {
          height: 900px;
          width: 900px;
          transform: translateX(-100vw) translateY(500px);
        }

        @media screen and (max-width: 376px) {
          transform: translateX(-100vw) translateY(300px);
        }
      }

      &__2 {
        height: 80vw;
        width: 80vw;
        transform: translateX(60vw) translateY(-40vw);
        z-index: 9;

        @media screen and (max-width: 1024px) {
          height: 1200px;
          width: 1200px;
          transform: translateX(30vw) translateY(-400px);
        }

        @media screen and (max-width: 768px) {
          height: 700px;
          width: 700px;
          transform: translateX(-10vw) translateY(-200px);
        }
      }

      &__3 {
        height: 70vw;
        width: 70vw;
        transform: translateX(60vw) translateY(-10vw);

        @media screen and (max-width: 1024px) {
          height: 1200px;
          width: 1200px;
          transform: translateX(10vw) translateY(-10vw);
        }

        @media screen and (max-width: 768px) {
          height: 600px;
          width: 600px;

          transform: translateX(20vw) translateY(-10vw);
        }
      }

      &__4 {
        height: 40vw;
        width: 40vw;
        transform: translateX(55vw);

        @media screen and (max-width: 1024px) {
          height: 700px;
          width: 700px;

          transform: translateX(-20vw);
        }

        @media screen and (max-width: 768px) {
          height: 400px;
          width: 400px;

          transform: translateX(-40vw);
        }
      }

      &__5 {
        height: 80vw;
        width: 80vw;
        transform: translateX(-100vw);

        @media screen and (max-width: 1024px) {
          height: 800px;
          width: 800px;
        }

        @media screen and (max-width: 768px) {
          height: 600px;
          width: 600px;
        }

        @media screen and (max-width: 376px) {
          display: none;
        }
      }

      &__6 {
        height: 110vw;
        width: 110vw;
        transform: translateX(-75vw);

        @media screen and (max-width: 1024px) {
          height: 1800px;
          width: 1800px;
          transform: translateX(-155vw) translateY(-500px);
        }

        @media screen and (max-width: 768px) {
          height: 1200px;
          width: 1200px;

          transform: translateX(-205vw);
        }
      }

      &__7 {
        height: 65vw;
        width: 65vw;
        transform: translateX(50vw);

        @media screen and (max-width: 1024px) {
          height: 800px;
          width: 800px;
        }

        @media screen and (max-width: 768px) {
          height: 600px;
          width: 600px;
        }
      }

      &__8 {
        height: 110vw;
        width: 110vw;
        transform: translateX(30vw);

        @media screen and (max-width: 1024px) {
          height: 1200px;
          width: 1200px;

          transform: translateX(0vw);
        }

        @media screen and (max-width: 768px) {
          height: 1000px;
          width: 1000px;
        }
      }

      &__9 {
        height: 65vw;
        width: 65vw;
        transform: translateX(-7vw);

        @media screen and (max-width: 1024px) {
          height: 1000px;
          width: 1000px;
          transform: translateX(-70vw);
        }

        @media screen and (max-width: 768px) {
          height: 600px;
          width: 600px;
        }
      }
    }

    .closing {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 11;

      .gear {
        height: 200vw;
        width: 200vw;
        background-image: url('../images/gear.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -80vw;
        left: -45vw;

        @media screen and (max-width: 1024px) {
          height: 2400px;
          width: 2400px;
          left: -95vw;
        }

        @media screen and (max-width: 768px) {
          height: 1400px;
          width: 1400px;
          left: -95vw;
        }
      }

      .description {
        position: absolute;
        bottom: 20%;
        left: 2%;

        .text {
          &__1 {
            width: 100%;
            font-size: 17vw;
            text-transform: uppercase;
            line-height: 0.5;
          }

          &__2 {
            font-size: 9vw;
            text-transform: uppercase;
            padding-left: 40%;
          }

          &__3 {
            padding-right: 27vw;
            padding-left: 40vw;
            padding-right: 30vw;
            line-height: 1;

            @media screen and (max-width: 1024px) {
              bottom: 20%;
              padding-left: 10vw;
              padding-right: 10vw;
            }

            @media screen and (max-width: 768px) {
              bottom: 20%;
              padding-left: 10vw;
              padding-right: 10vw;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          bottom: 40%;
        }

        @media screen and (max-width: 768px) {
          bottom: 40%;
        }
      }
    }
  }

  &__5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__intro {
    position: absolute;

    &--1 {
      bottom: 74%;
      right: 50vw;
      width: 12vw;
      font-size: 1.4rem;
      text-align: right;

      @media screen and (min-width: 1500px) {
        bottom: 80%;
      }

      @media screen and (max-width: 1024px) {
        width: 22%;
        bottom: 60%;
      }

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        width: 25%;
        bottom: 60%;
        right: 55vw;
      }

      // smaller device
      @media screen and (max-width: 376px) {
        font-size: 1rem;
        width: 40%;
        right: 55vw;
      }
    }

    &--2 {
      bottom: 95%;
      left: 65vw;
      width: 14vw;
      font-size: 1.4rem;
      text-align: left;

      @media screen and (max-width: 1024px) {
        width: 25%;
        bottom: 90%;
      }

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        width: 35%;
        bottom: 90%;
        right: unset;
        left: 11vw;
        text-align: right;
      }

      // smaller device
      @media screen and (max-width: 376px) {
        width: 40%;
        bottom: 85%;
        left: unset;
        right: 55vw;
      }
    }

    &--3 {
      bottom: 105%;
      right: 50vw;
      font-size: 3rem;
      height: 40%;
      text-align: right;
      line-height: 0.8;
      font-weight: bold;

      @media screen and (min-width: 1500px) {
        bottom: 110%;
      }

      @media screen and (max-width: 1024px) {
        bottom: 100%;
        height: 30%;
      }

      @media screen and (max-width: 768px) {
        font-size: 2rem;
        bottom: 110%;
        right: 55vw;
      }
    }

    &--vertical {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }
}
